<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mc_die1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,981},{85,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,118}}</string>
				<key>sourceSize</key>
				<string>{85,118}</string>
			</dict>

			<key>mc_die10.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1359},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{107,99}</string>
			</dict>

			<key>mc_die11.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1043},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{107,99}</string>
			</dict>

			<key>mc_die12.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1143},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{107,99}</string>
			</dict>

			<key>mc_die13.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,117},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{107,99}</string>
			</dict>

			<key>mc_die14.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,701},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{107,99}</string>
			</dict>

			<key>mc_die15.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{107,99}</string>
			</dict>

			<key>mc_die16.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,483},{113,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,97}}</string>
				<key>sourceSize</key>
				<string>{113,97}</string>
			</dict>

			<key>mc_die17.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,713},{118,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,95}}</string>
				<key>sourceSize</key>
				<string>{118,95}</string>
			</dict>

			<key>mc_die18.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1162},{122,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,90}}</string>
				<key>sourceSize</key>
				<string>{122,90}</string>
			</dict>

			<key>mc_die19.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1833},{125,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,86}}</string>
				<key>sourceSize</key>
				<string>{125,86}</string>
			</dict>

			<key>mc_die2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,726},{92,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,125}}</string>
				<key>sourceSize</key>
				<string>{92,125}</string>
			</dict>

			<key>mc_die20.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1622},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>

			<key>mc_die21.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1973},{128,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,74}}</string>
				<key>sourceSize</key>
				<string>{128,74}</string>
			</dict>

			<key>mc_die22.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1973},{129,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,68}}</string>
				<key>sourceSize</key>
				<string>{129,68}</string>
			</dict>

			<key>mc_die23.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1963},{129,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,68}}</string>
				<key>sourceSize</key>
				<string>{129,68}</string>
			</dict>

			<key>mc_die24.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1963},{129,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,68}}</string>
				<key>sourceSize</key>
				<string>{129,68}</string>
			</dict>

			<key>mc_die25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1963},{129,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,68}}</string>
				<key>sourceSize</key>
				<string>{129,68}</string>
			</dict>

			<key>mc_die3.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1772},{104,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,131}}</string>
				<key>sourceSize</key>
				<string>{104,131}</string>
			</dict>

			<key>mc_die4.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,359},{108,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,132}}</string>
				<key>sourceSize</key>
				<string>{108,132}</string>
			</dict>

			<key>mc_die5.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,801},{105,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,125}}</string>
				<key>sourceSize</key>
				<string>{105,125}</string>
			</dict>

			<key>mc_die6.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,627},{101,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,119}}</string>
				<key>sourceSize</key>
				<string>{101,119}</string>
			</dict>

			<key>mc_die7.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1294},{99,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,112}}</string>
				<key>sourceSize</key>
				<string>{99,112}</string>
			</dict>

			<key>mc_die8.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1186},{99,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,107}}</string>
				<key>sourceSize</key>
				<string>{99,107}</string>
			</dict>

			<key>mc_die9.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,927},{106,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,102}}</string>
				<key>sourceSize</key>
				<string>{106,102}</string>
			</dict>

			<key>mc_fly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1536},{146,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,145}}</string>
				<key>sourceSize</key>
				<string>{146,145}</string>
			</dict>

			<key>mc_fly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,138},{148,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,144}}</string>
				<key>sourceSize</key>
				<string>{148,144}</string>
			</dict>

			<key>mc_fly3.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,958},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,143}}</string>
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>

			<key>mc_fly4.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1108},{151,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,140}}</string>
				<key>sourceSize</key>
				<string>{151,140}</string>
			</dict>

			<key>mc_fly5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,473},{153,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,140}}</string>
				<key>sourceSize</key>
				<string>{153,140}</string>
			</dict>

			<key>mc_fly6.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1540},{152,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,140}}</string>
				<key>sourceSize</key>
				<string>{152,140}</string>
			</dict>

			<key>mc_fly7.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,614},{150,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,141}}</string>
				<key>sourceSize</key>
				<string>{150,141}</string>
			</dict>

			<key>mc_fly8.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1247},{148,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,143}}</string>
				<key>sourceSize</key>
				<string>{148,143}</string>
			</dict>

			<key>mc_fly9.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1391},{146,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,144}}</string>
				<key>sourceSize</key>
				<string>{146,144}</string>
			</dict>

			<key>mc_fly_gethit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1682},{146,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,145}}</string>
				<key>sourceSize</key>
				<string>{146,145}</string>
			</dict>

			<key>mc_fly_gethit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1102},{148,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,144}}</string>
				<key>sourceSize</key>
				<string>{148,144}</string>
			</dict>

			<key>mc_fly_gethit3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,756},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,143}}</string>
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>

			<key>mc_fly_gethit4.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1822},{152,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,140}}</string>
				<key>sourceSize</key>
				<string>{152,140}</string>
			</dict>

			<key>mc_fly_gethit5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,332},{153,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,140}}</string>
				<key>sourceSize</key>
				<string>{153,140}</string>
			</dict>

			<key>mc_fly_gethit6.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1681},{152,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,140}}</string>
				<key>sourceSize</key>
				<string>{152,140}</string>
			</dict>

			<key>mc_fly_gethit7.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,303},{150,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,141}}</string>
				<key>sourceSize</key>
				<string>{150,141}</string>
			</dict>

			<key>mc_fly_gethit8.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,445},{148,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,143}}</string>
				<key>sourceSize</key>
				<string>{148,143}</string>
			</dict>

			<key>mc_fly_gethit9.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1828},{146,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,144}}</string>
				<key>sourceSize</key>
				<string>{146,144}</string>
			</dict>

			<key>mc_fly_on_stick1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,0},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,137}}</string>
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>

			<key>mc_fly_on_stick2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,970},{154,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,137}}</string>
				<key>sourceSize</key>
				<string>{154,137}</string>
			</dict>

			<key>mc_fly_on_stick3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1540},{155,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,137}}</string>
				<key>sourceSize</key>
				<string>{155,137}</string>
			</dict>

			<key>mc_fly_on_stick4.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1402},{154,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,137}}</string>
				<key>sourceSize</key>
				<string>{154,137}</string>
			</dict>

			<key>mc_fly_on_stick5.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1387},{151,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,137}}</string>
				<key>sourceSize</key>
				<string>{151,137}</string>
			</dict>

			<key>mc_fly_on_stick6.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1126},{154,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,137}}</string>
				<key>sourceSize</key>
				<string>{154,137}</string>
			</dict>

			<key>mc_fly_on_stick7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1815},{155,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,137}}</string>
				<key>sourceSize</key>
				<string>{155,137}</string>
			</dict>

			<key>mc_fly_on_stick8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1264},{156,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,137}}</string>
				<key>sourceSize</key>
				<string>{156,137}</string>
			</dict>

			<key>mc_fly_on_stick9.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,820},{153,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,137}}</string>
				<key>sourceSize</key>
				<string>{153,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,165},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,137}}</string>
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1540},{154,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,137}}</string>
				<key>sourceSize</key>
				<string>{154,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1678},{155,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,136}}</string>
				<key>sourceSize</key>
				<string>{155,136}</string>
			</dict>

			<key>mc_fly_on_stick_gethit4.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1816},{154,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,138}}</string>
				<key>sourceSize</key>
				<string>{154,138}</string>
			</dict>

			<key>mc_fly_on_stick_gethit5.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1249},{151,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,137}}</string>
				<key>sourceSize</key>
				<string>{151,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit6.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1678},{154,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,137}}</string>
				<key>sourceSize</key>
				<string>{154,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1126},{156,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,137}}</string>
				<key>sourceSize</key>
				<string>{156,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1402},{156,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,137}}</string>
				<key>sourceSize</key>
				<string>{156,137}</string>
			</dict>

			<key>mc_fly_on_stick_gethit9.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1264},{154,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,137}}</string>
				<key>sourceSize</key>
				<string>{154,137}</string>
			</dict>

			<key>mc_gethit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1920},{85,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,118}}</string>
				<key>sourceSize</key>
				<string>{85,118}</string>
			</dict>

			<key>mc_gethit10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,852},{90,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,136}}</string>
				<key>sourceSize</key>
				<string>{90,136}</string>
			</dict>

			<key>mc_gethit11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1407},{90,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,136}}</string>
				<key>sourceSize</key>
				<string>{90,136}</string>
			</dict>

			<key>mc_gethit12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1544},{90,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,136}}</string>
				<key>sourceSize</key>
				<string>{90,136}</string>
			</dict>

			<key>mc_gethit13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1830},{90,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,136}}</string>
				<key>sourceSize</key>
				<string>{90,136}</string>
			</dict>

			<key>mc_gethit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,246},{80,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,121}}</string>
				<key>sourceSize</key>
				<string>{80,121}</string>
			</dict>

			<key>mc_gethit3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,368},{78,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,125}}</string>
				<key>sourceSize</key>
				<string>{78,125}</string>
			</dict>

			<key>mc_gethit4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,117},{80,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,128}}</string>
				<key>sourceSize</key>
				<string>{80,128}</string>
			</dict>

			<key>mc_gethit5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1615},{82,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,131}}</string>
				<key>sourceSize</key>
				<string>{82,131}</string>
			</dict>

			<key>mc_gethit6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,847},{85,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,133}}</string>
				<key>sourceSize</key>
				<string>{85,133}</string>
			</dict>

			<key>mc_gethit7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1359},{87,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,135}}</string>
				<key>sourceSize</key>
				<string>{87,135}</string>
			</dict>

			<key>mc_gethit8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,371},{88,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,136}}</string>
				<key>sourceSize</key>
				<string>{88,136}</string>
			</dict>

			<key>mc_gethit9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1222},{90,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,136}}</string>
				<key>sourceSize</key>
				<string>{90,136}</string>
			</dict>

			<key>mc_hit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1495},{85,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,119}}</string>
				<key>sourceSize</key>
				<string>{85,119}</string>
			</dict>

			<key>mc_hit10.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,492},{101,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,134}}</string>
				<key>sourceSize</key>
				<string>{101,134}</string>
			</dict>

			<key>mc_hit11.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,352},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,134}}</string>
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>

			<key>mc_hit12.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,217},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,134}}</string>
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>

			<key>mc_hit13.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1576},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,134}}</string>
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>

			<key>mc_hit14.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,445},{139,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,142}}</string>
				<key>sourceSize</key>
				<string>{139,142}</string>
			</dict>

			<key>mc_hit15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,841},{174,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,128}}</string>
				<key>sourceSize</key>
				<string>{174,128}</string>
			</dict>

			<key>mc_hit16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,970},{164,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,155}}</string>
				<key>sourceSize</key>
				<string>{164,155}</string>
			</dict>

			<key>mc_hit17.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,900},{139,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,170}}</string>
				<key>sourceSize</key>
				<string>{139,170}</string>
			</dict>

			<key>mc_hit18.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1504},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>mc_hit19.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,581},{111,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,119}}</string>
				<key>sourceSize</key>
				<string>{111,119}</string>
			</dict>

			<key>mc_hit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1062},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,123}}</string>
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>

			<key>mc_hit20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,118},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,118}}</string>
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>

			<key>mc_hit3.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1162},{120,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,127}}</string>
				<key>sourceSize</key>
				<string>{120,127}</string>
			</dict>

			<key>mc_hit4.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1703},{125,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,129}}</string>
				<key>sourceSize</key>
				<string>{125,129}</string>
			</dict>

			<key>mc_hit5.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1504},{118,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,132}}</string>
				<key>sourceSize</key>
				<string>{118,132}</string>
			</dict>

			<key>mc_hit6.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1637},{107,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,134}}</string>
				<key>sourceSize</key>
				<string>{107,134}</string>
			</dict>

			<key>mc_hit7.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1407},{98,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,134}}</string>
				<key>sourceSize</key>
				<string>{98,134}</string>
			</dict>

			<key>mc_hit8.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,134}}</string>
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>

			<key>mc_hit9.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,927},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,134}}</string>
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>

			<key>mc_hit_with_stick1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,747},{96,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,0},{96,119}}</string>
				<key>sourceSize</key>
				<string>{192,119}</string>
			</dict>

			<key>mc_hit_with_stick10.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,283},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,120}}</string>
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>

			<key>mc_hit_with_stick11.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,809},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,120}}</string>
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>

			<key>mc_hit_with_stick12.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,121},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,120}}</string>
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>

			<key>mc_hit_with_stick13.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,0},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,120}}</string>
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>

			<key>mc_hit_with_stick14.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{147,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,119}}</string>
				<key>sourceSize</key>
				<string>{147,119}</string>
			</dict>

			<key>mc_hit_with_stick15.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,657},{153,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,162}}</string>
				<key>sourceSize</key>
				<string>{153,162}</string>
			</dict>

			<key>mc_hit_with_stick16.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,589},{141,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,219}}</string>
				<key>sourceSize</key>
				<string>{141,219}</string>
			</dict>

			<key>mc_hit_with_stick17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,657},{208,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,183}}</string>
				<key>sourceSize</key>
				<string>{208,183}</string>
			</dict>

			<key>mc_hit_with_stick18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{222,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,158}}</string>
				<key>sourceSize</key>
				<string>{222,158}</string>
			</dict>

			<key>mc_hit_with_stick19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{233,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,164}}</string>
				<key>sourceSize</key>
				<string>{233,164}</string>
			</dict>

			<key>mc_hit_with_stick2.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1904},{102,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,0},{102,120}}</string>
				<key>sourceSize</key>
				<string>{204,120}</string>
			</dict>

			<key>mc_hit_with_stick20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{232,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,166}}</string>
				<key>sourceSize</key>
				<string>{232,166}</string>
			</dict>

			<key>mc_hit_with_stick21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{222,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,165}}</string>
				<key>sourceSize</key>
				<string>{222,165}</string>
			</dict>

			<key>mc_hit_with_stick3.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1290},{115,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,0},{115,121}}</string>
				<key>sourceSize</key>
				<string>{230,121}</string>
			</dict>

			<key>mc_hit_with_stick4.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,242},{121,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,0},{121,123}}</string>
				<key>sourceSize</key>
				<string>{242,123}</string>
			</dict>

			<key>mc_hit_with_stick5.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,588},{121,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,0},{121,124}}</string>
				<key>sourceSize</key>
				<string>{242,124}</string>
			</dict>

			<key>mc_hit_with_stick6.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1920},{122,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,0},{122,127}}</string>
				<key>sourceSize</key>
				<string>{244,127}</string>
			</dict>

			<key>mc_hit_with_stick7.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1703},{118,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,0},{118,129}}</string>
				<key>sourceSize</key>
				<string>{236,129}</string>
			</dict>

			<key>mc_hit_with_stick8.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1833},{112,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,0},{112,124}}</string>
				<key>sourceSize</key>
				<string>{224,124}</string>
			</dict>

			<key>mc_hit_with_stick9.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,117},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{240,120}</string>
			</dict>

			<key>mc_idle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1904},{96,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,118}}</string>
				<key>sourceSize</key>
				<string>{96,118}</string>
			</dict>

			<key>mc_idle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,135},{94,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,117}}</string>
				<key>sourceSize</key>
				<string>{94,117}</string>
			</dict>

			<key>mc_idle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,253},{93,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,117}}</string>
				<key>sourceSize</key>
				<string>{93,117}</string>
			</dict>

			<key>mc_idle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1104},{90,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,117}}</string>
				<key>sourceSize</key>
				<string>{90,117}</string>
			</dict>

			<key>mc_idle5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,0},{86,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,116}}</string>
				<key>sourceSize</key>
				<string>{86,116}</string>
			</dict>

			<key>mc_idle6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,608},{89,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,117}}</string>
				<key>sourceSize</key>
				<string>{89,117}</string>
			</dict>

			<key>mc_idle7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,0},{92,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,117}}</string>
				<key>sourceSize</key>
				<string>{92,117}</string>
			</dict>

			<key>mc_idle8.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,608},{94,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,117}}</string>
				<key>sourceSize</key>
				<string>{94,117}</string>
			</dict>

			<key>mc_idle9.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1711},{96,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,118}}</string>
				<key>sourceSize</key>
				<string>{96,118}</string>
			</dict>

			<key>mc_jump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1043},{123,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,118}}</string>
				<key>sourceSize</key>
				<string>{123,118}</string>
			</dict>

			<key>mc_jump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1253},{122,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,117}}</string>
				<key>sourceSize</key>
				<string>{122,117}</string>
			</dict>

			<key>mc_jump3.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1043},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,116}}</string>
				<key>sourceSize</key>
				<string>{118,116}</string>
			</dict>

			<key>mc_jump4.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,809},{113,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,117}}</string>
				<key>sourceSize</key>
				<string>{113,117}</string>
			</dict>

			<key>mc_jump5.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1459},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,116}}</string>
				<key>sourceSize</key>
				<string>{106,116}</string>
			</dict>

			<key>mc_jump6.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1243},{107,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,115}}</string>
				<key>sourceSize</key>
				<string>{107,115}</string>
			</dict>

			<key>mc_jump7.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,927},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>mc_jump8.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,927},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>mc_jump9.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,927},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>mc_walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1220},{85,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,117}}</string>
				<key>sourceSize</key>
				<string>{85,117}</string>
			</dict>

			<key>mc_walk10.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,487},{96,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,120}}</string>
				<key>sourceSize</key>
				<string>{96,120}</string>
			</dict>

			<key>mc_walk11.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,238},{110,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,120}}</string>
				<key>sourceSize</key>
				<string>{110,120}</string>
			</dict>

			<key>mc_walk12.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,366},{121,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,116}}</string>
				<key>sourceSize</key>
				<string>{121,116}</string>
			</dict>

			<key>mc_walk13.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1391},{129,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,112}}</string>
				<key>sourceSize</key>
				<string>{129,112}</string>
			</dict>

			<key>mc_walk14.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,930},{129,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,112}}</string>
				<key>sourceSize</key>
				<string>{129,112}</string>
			</dict>

			<key>mc_walk15.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{121,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,116}}</string>
				<key>sourceSize</key>
				<string>{121,116}</string>
			</dict>

			<key>mc_walk16.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,238},{110,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,120}}</string>
				<key>sourceSize</key>
				<string>{110,120}</string>
			</dict>

			<key>mc_walk17.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,487},{96,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,120}}</string>
				<key>sourceSize</key>
				<string>{96,120}</string>
			</dict>

			<key>mc_walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1798},{85,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,121}}</string>
				<key>sourceSize</key>
				<string>{85,121}</string>
			</dict>

			<key>mc_walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,726},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,120}}</string>
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>

			<key>mc_walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,1681},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
			</dict>

			<key>mc_walk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,371},{92,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,113}}</string>
				<key>sourceSize</key>
				<string>{92,113}</string>
			</dict>

			<key>mc_walk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,989},{90,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,114}}</string>
				<key>sourceSize</key>
				<string>{90,114}</string>
			</dict>

			<key>mc_walk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,237},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,118}}</string>
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>

			<key>mc_walk8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,508},{84,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,120}}</string>
				<key>sourceSize</key>
				<string>{84,120}</string>
			</dict>

			<key>mc_walk9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1100},{85,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,119}}</string>
				<key>sourceSize</key>
				<string>{85,119}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>