<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Boss_Attack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,672},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,100}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>Boss_Attack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,369},{103,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,100}}</string>
				<key>sourceSize</key>
				<string>{103,100}</string>
			</dict>

			<key>Boss_Attack3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{116,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,100}}</string>
				<key>sourceSize</key>
				<string>{116,100}</string>
			</dict>

			<key>Boss_Attack4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{112,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,100}}</string>
				<key>sourceSize</key>
				<string>{112,100}</string>
			</dict>

			<key>Boss_Attack5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,773},{94,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,100}}</string>
				<key>sourceSize</key>
				<string>{94,100}</string>
			</dict>

			<key>Boss_Attack6.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,874},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,100}}</string>
				<key>sourceSize</key>
				<string>{65,100}</string>
			</dict>

			<key>Boss_Attack7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{96,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,100}}</string>
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>

			<key>Boss_Die1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,571},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,100}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>Boss_Die2.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,571},{69,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,100}}</string>
				<key>sourceSize</key>
				<string>{69,100}</string>
			</dict>

			<key>Boss_Die3.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{63,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,100}}</string>
				<key>sourceSize</key>
				<string>{63,100}</string>
			</dict>

			<key>Boss_Die4.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,470},{69,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,100}}</string>
				<key>sourceSize</key>
				<string>{69,100}</string>
			</dict>

			<key>Boss_Die5.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,369},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>

			<key>Boss_Die6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,470},{102,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,100}}</string>
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>

			<key>Boss_Die7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{117,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,73}}</string>
				<key>sourceSize</key>
				<string>{117,73}</string>
			</dict>

			<key>Boss_Die8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{117,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,47}}</string>
				<key>sourceSize</key>
				<string>{117,47}</string>
			</dict>

			<key>Boss_Die9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{117,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,44}}</string>
				<key>sourceSize</key>
				<string>{117,44}</string>
			</dict>

			<key>Boss_Idle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,773},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,100}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>Boss_Idle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,874},{92,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,100}}</string>
				<key>sourceSize</key>
				<string>{92,100}</string>
			</dict>

			<key>Boss_Idle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,100}}</string>
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>

			<key>Boss_Idle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,470},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,100}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>Boss_Walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,571},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,100}}</string>
				<key>sourceSize</key>
				<string>{98,100}</string>
			</dict>

			<key>Boss_Walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,167},{81,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,100}}</string>
				<key>sourceSize</key>
				<string>{81,100}</string>
			</dict>

			<key>Boss_Walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,672},{69,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,100}}</string>
				<key>sourceSize</key>
				<string>{69,100}</string>
			</dict>

			<key>Boss_Walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,0},{76,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,100}}</string>
				<key>sourceSize</key>
				<string>{76,100}</string>
			</dict>

			<key>Boss_Walk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,268},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,100}}</string>
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>

			<key>Boss_Walk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,268},{78,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,100}}</string>
				<key>sourceSize</key>
				<string>{78,100}</string>
			</dict>

			<key>Boss_Walk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,773},{69,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,100}}</string>
				<key>sourceSize</key>
				<string>{69,100}</string>
			</dict>

			<key>Boss_Walk8.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,369},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,100}}</string>
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>