<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,773},{114,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,240}}</string>
				<key>sourceSize</key>
				<string>{114,240}</string>
			</dict>

			<key>fire10.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,0},{230,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,453}}</string>
				<key>sourceSize</key>
				<string>{230,453}</string>
			</dict>

			<key>fire11.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,466},{282,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,476}}</string>
				<key>sourceSize</key>
				<string>{282,476}</string>
			</dict>

			<key>fire12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{319,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,465}}</string>
				<key>sourceSize</key>
				<string>{319,465}</string>
			</dict>

			<key>fire2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,317},{144,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,343}}</string>
				<key>sourceSize</key>
				<string>{144,343}</string>
			</dict>

			<key>fire3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,454},{158,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,318}}</string>
				<key>sourceSize</key>
				<string>{158,318}</string>
			</dict>

			<key>fire4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,0},{156,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,316}}</string>
				<key>sourceSize</key>
				<string>{156,316}</string>
			</dict>

			<key>fire5.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,0},{183,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,354}}</string>
				<key>sourceSize</key>
				<string>{183,354}</string>
			</dict>

			<key>fire6.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,437},{232,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,384}}</string>
				<key>sourceSize</key>
				<string>{232,384}</string>
			</dict>

			<key>fire7.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{276,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,436}}</string>
				<key>sourceSize</key>
				<string>{276,436}</string>
			</dict>

			<key>fire8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,466},{301,425}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,425}}</string>
				<key>sourceSize</key>
				<string>{301,425}</string>
			</dict>

			<key>fire9.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,454},{219,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,480}}</string>
				<key>sourceSize</key>
				<string>{219,480}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>bullet1.png</string>
			</dict>
		</dict>
</plist>