<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose10.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,471},{34,18}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose11.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,471},{35,15}}</string>
				<key>offset</key>
				<string>{0,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose12.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,486},{31,11}}</string>
				<key>offset</key>
				<string>{0,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose13.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,464},{20,7}}</string>
				<key>offset</key>
				<string>{5,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose14.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,511},{17,3}}</string>
				<key>offset</key>
				<string>{4,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose15.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,515},{1,1}}</string>
				<key>offset</key>
				<string>{24,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose16.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,514},{20,2}}</string>
				<key>offset</key>
				<string>{-2,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose17.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,506},{32,5}}</string>
				<key>offset</key>
				<string>{-2,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose18.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,506},{34,9}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose19.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,451},{34,13}}</string>
				<key>offset</key>
				<string>{-2,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{50,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose20.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,489},{36,17}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose21.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,451},{38,20}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,516},{49,24}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose23.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,294},{50,28}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose24.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,234},{50,31}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose25.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,166},{50,35}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{50,39}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{50,43}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{50,46}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{50,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{50,41}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose5.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,129},{50,37}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose6.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,201},{50,33}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose7.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,265},{50,29}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{50,26}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>lose9.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,516},{36,22}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win1.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,0},{43,43}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{46,43}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win11.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,322},{45,43}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{46,43}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{44,43}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win3.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,43},{43,43}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win4.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,43},{44,43}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win5.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,86},{43,43}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win6.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,86},{44,43}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win7.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,365},{45,43}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{46,43}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>win9.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,408},{45,43}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{256,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>