<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,98},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,63},{30,22}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,89},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,63},{30,22}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,67},{30,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,64},{30,21}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,45},{30,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,64},{30,21}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{29,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,50},{29,35}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,23},{35,38}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,8},{40,30}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,0},{40,30}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,1},{40,30}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,1},{42,24}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,8},{42,24}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,22},{42,24}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{44,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,48},{44,19}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,20},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,67},{30,18}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,76},{30,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,64},{30,21}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

			<key>frame_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,98},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,63},{30,22}}</string>
				<key>sourceSize</key>
				<string>{278,85}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>item.png</string>
			</dict>
		</dict>
</plist>