<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BossJG_Attack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,349},{97,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,17},{97,86}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Attack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,700},{84,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{84,87}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Attack3.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,326},{59,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{59,102}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Attack4.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,0},{64,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{64,101}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Attack5.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,82},{91,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,17},{91,87}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Attack6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,706},{95,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,17},{95,86}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Attack7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{97,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,17},{97,86}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>

			<key>BossJG_Die1.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,506},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,2},{70,66}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Die2.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,82},{73,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,3},{73,66}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Die3.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,326},{76,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,6},{76,65}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Die4.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,959},{79,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,12},{79,61}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Die5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,967},{84,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,26},{84,48}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Die6.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,967},{82,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,34},{82,40}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Die7.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,959},{79,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,37},{79,42}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>BossJG_Hurt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,878},{84,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,3},{84,80}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Hurt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,606},{81,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,4},{81,79}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Hurt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,871},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,4},{80,82}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Hurt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,686},{79,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{79,82}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Hurt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,423},{79,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{79,82}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Hurt6.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,788},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,4},{80,82}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Hurt7.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,606},{81,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,4},{81,79}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Idle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,700},{94,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{94,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Idle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{95,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{95,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Idle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{96,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{96,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Idle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{97,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{97,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Idle5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{97,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{97,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Idle6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{96,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{96,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Idle7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{95,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{95,89}}</string>
				<key>sourceSize</key>
				<string>{105,101}</string>
			</dict>

			<key>BossJG_Jump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,165},{86,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,14},{86,81}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Jump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,340},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{89,82}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Jump3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,7},{87,81}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Jump4.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,165},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{78,79}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Jump5.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,245},{77,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{77,80}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Jump6.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,82},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{87,82}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Jump7.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,257},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{89,82}}</string>
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>

			<key>BossJG_Run1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{102,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{102,81}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Run2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,883},{95,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{95,83}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Run3.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,0},{88,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{88,81}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Run4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,788},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{83,81}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Run5.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,423},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{83,81}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Run6.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,524},{88,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{88,81}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Run7.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,616},{95,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{95,83}}</string>
				<key>sourceSize</key>
				<string>{105,97}</string>
			</dict>

			<key>BossJG_Walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,790},{94,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{94,87}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,436},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{93,87}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,524},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{91,86}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,257},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{89,87}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Walk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,345},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{89,87}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Walk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,170},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{91,86}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>BossJG_Walk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,878},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{93,87}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>