<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>batMonster_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,172},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,66}}</string>
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>

			<key>batMonster_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,116},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,55}}</string>
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>

			<key>batMonster_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,299},{81,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,46}}</string>
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>

			<key>batMonster_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,201},{73,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,40}}</string>
				<key>sourceSize</key>
				<string>{73,40}</string>
			</dict>

			<key>batMonster_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,122},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,48}}</string>
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>

			<key>batMonster_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,306},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,50}}</string>
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>

			<key>batMonster_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,247},{75,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,49}}</string>
				<key>sourceSize</key>
				<string>{75,49}</string>
			</dict>

			<key>batMonster_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,247},{83,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,51}}</string>
				<key>sourceSize</key>
				<string>{83,51}</string>
			</dict>

			<key>batMonster_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,239},{46,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,66}}</string>
				<key>sourceSize</key>
				<string>{46,66}</string>
			</dict>

			<key>batMonster_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{47,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,56}}</string>
				<key>sourceSize</key>
				<string>{47,56}</string>
			</dict>

			<key>batMonster_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{79,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,54}}</string>
				<key>sourceSize</key>
				<string>{79,54}</string>
			</dict>

			<key>batMonster_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,346},{68,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,51}}</string>
				<key>sourceSize</key>
				<string>{68,51}</string>
			</dict>

			<key>batMonster_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,0},{32,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,54}}</string>
				<key>sourceSize</key>
				<string>{32,54}</string>
			</dict>

			<key>batMonster_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,357},{40,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,57}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>

			<key>batMonster_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,48},{69,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,62}}</string>
				<key>sourceSize</key>
				<string>{69,62}</string>
			</dict>

			<key>batMonster_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,391},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,53}}</string>
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>

			<key>batMonster_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,122},{44,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,64}}</string>
				<key>sourceSize</key>
				<string>{44,64}</string>
			</dict>

			<key>batMonster_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,233},{48,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,55}}</string>
				<key>sourceSize</key>
				<string>{48,55}</string>
			</dict>

			<key>batMonster_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,151},{73,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,49}}</string>
				<key>sourceSize</key>
				<string>{73,49}</string>
			</dict>

			<key>batMonster_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,297},{67,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,48}}</string>
				<key>sourceSize</key>
				<string>{67,48}</string>
			</dict>

			<key>batMonster_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,187},{44,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,50}}</string>
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>

			<key>batMonster_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,398},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,57}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>

			<key>batMonster_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,391},{79,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,46}}</string>
				<key>sourceSize</key>
				<string>{79,46}</string>
			</dict>

			<key>batMonster_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{86,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,49}}</string>
				<key>sourceSize</key>
				<string>{86,49}</string>
			</dict>

			<key>batMonster_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,456},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,54}}</string>
				<key>sourceSize</key>
				<string>{58,54}</string>
			</dict>

			<key>batMonster_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{60,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,56}}</string>
				<key>sourceSize</key>
				<string>{60,56}</string>
			</dict>

			<key>batMonster_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{85,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,49}}</string>
				<key>sourceSize</key>
				<string>{85,49}</string>
			</dict>

			<key>batMonster_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,299},{76,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,46}}</string>
				<key>sourceSize</key>
				<string>{76,46}</string>
			</dict>

			<key>batMonster_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,57},{43,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,58}}</string>
				<key>sourceSize</key>
				<string>{43,58}</string>
			</dict>

			<key>batMonster_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,57},{54,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,58}}</string>
				<key>sourceSize</key>
				<string>{54,58}</string>
			</dict>

			<key>batMonster_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{80,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,44}}</string>
				<key>sourceSize</key>
				<string>{80,44}</string>
			</dict>

			<key>batMonster_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{90,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,47}}</string>
				<key>sourceSize</key>
				<string>{90,47}</string>
			</dict>

			<key>batMonster_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,172},{50,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,60}}</string>
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>

			<key>batMonster_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,456},{57,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,55}}</string>
				<key>sourceSize</key>
				<string>{57,55}</string>
			</dict>

			<key>batMonster_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{84,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,45}}</string>
				<key>sourceSize</key>
				<string>{84,45}</string>
			</dict>

			<key>batMonster_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,346},{74,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,42}}</string>
				<key>sourceSize</key>
				<string>{74,42}</string>
			</dict>

			<key>batMonster_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{33,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,45}}</string>
				<key>sourceSize</key>
				<string>{33,45}</string>
			</dict>

			<key>batMonster_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,398},{46,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,51}}</string>
				<key>sourceSize</key>
				<string>{46,51}</string>
			</dict>

			<key>batMonster_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,445},{77,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,48}}</string>
				<key>sourceSize</key>
				<string>{77,48}</string>
			</dict>

			<key>batMonster_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{89,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,52}}</string>
				<key>sourceSize</key>
				<string>{89,52}</string>
			</dict>

			<key>batMonster_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,57},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,64}}</string>
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>batMonster.png</string>
			</dict>
		</dict>
</plist>