<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>759455928_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,204},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,141},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>

			<key>759455928_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,106},{50,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,53}}</string>
				<key>sourceSize</key>
				<string>{50,53}</string>
			</dict>

			<key>759455928_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>759455928_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>759455928_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,55},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>

			<key>759455928_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,50}}</string>
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>

			<key>759455928_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,153},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,204},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,141},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>

			<key>759455928_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,54}}</string>
				<key>sourceSize</key>
				<string>{51,54}</string>
			</dict>

			<key>759455928_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,61},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>759455928_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>759455928_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,194},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>

			<key>759455928_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,166},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,101},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,51}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>759455928_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,141},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>

			<key>759455928_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,112},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,53}}</string>
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>

			<key>759455928_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,50}}</string>
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>

			<key>759455928_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,93},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,47}}</string>
				<key>sourceSize</key>
				<string>{55,47}</string>
			</dict>

			<key>759455928_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,51},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,41}}</string>
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>

			<key>759455928_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,51},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,49}}</string>
				<key>sourceSize</key>
				<string>{53,49}</string>
			</dict>

			<key>759455928_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,193},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,51}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>759455928_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,50}}</string>
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>

			<key>759455928_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,50}}</string>
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>

			<key>759455928_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,50}}</string>
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>

			<key>759455928_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>759455928_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,51},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,49}}</string>
				<key>sourceSize</key>
				<string>{53,49}</string>
			</dict>

			<key>759455928_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,193},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,51}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>759455928_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,60}}</string>
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>

			<key>759455928_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,60}}</string>
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>

			<key>759455928_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,60}}</string>
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>

			<key>759455928_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,50}}</string>
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>

			<key>759455928_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,101},{48,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,35}}</string>
				<key>sourceSize</key>
				<string>{48,35}</string>
			</dict>

			<key>759455928_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,101},{48,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,35}}</string>
				<key>sourceSize</key>
				<string>{48,35}</string>
			</dict>

			<key>759455928_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,101},{48,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,35}}</string>
				<key>sourceSize</key>
				<string>{48,35}</string>
			</dict>

			<key>759455928_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,141},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,51}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>759455928_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,141},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,51}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>759455928_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,141},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,51}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>759455928_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,204},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>

			<key>759455928_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>

			<key>759455928_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,33}}</string>
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>

			<key>759455928_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,33}}</string>
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>

			<key>759455928_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,33}}</string>
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>

			<key>ezgif.com-gif-maker_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{55,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,55},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,14},{51,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,14},{52,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,153},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,14},{53,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,204},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{53,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,141},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,12},{54,52}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,10},{51,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,61},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{55,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{55,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{53,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,194},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,12},{54,52}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,166},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,101},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{53,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,141},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,12},{54,52}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,112},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,11},{55,53}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{47,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,93},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,17},{55,47}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,51},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,23},{55,41}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,51},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{53,49}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{53,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,193},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{53,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{47,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{47,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{47,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{55,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,51},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{53,49}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{53,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,193},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{53,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{56,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{56,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{56,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{47,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,101},{48,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{48,35}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,101},{48,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{48,35}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,101},{48,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{48,35}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,141},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{53,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,141},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{53,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,141},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{53,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,204},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{53,50}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,31},{55,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,31},{55,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>ezgif.com-gif-maker_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,31},{55,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>flowerMonster.png</string>
			</dict>
		</dict>
</plist>