<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>attack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,374},{53,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,89}}</string>
				<key>sourceSize</key>
				<string>{53,89}</string>
			</dict>

			<key>attack10.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,420},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,64}}</string>
				<key>sourceSize</key>
				<string>{70,64}</string>
			</dict>

			<key>attack11.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,304},{60,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,79}}</string>
				<key>sourceSize</key>
				<string>{60,79}</string>
			</dict>

			<key>attack12.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,91},{45,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,90}}</string>
				<key>sourceSize</key>
				<string>{45,90}</string>
			</dict>

			<key>attack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,189},{52,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,87}}</string>
				<key>sourceSize</key>
				<string>{52,87}</string>
			</dict>

			<key>attack3.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,166},{59,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,88}}</string>
				<key>sourceSize</key>
				<string>{59,88}</string>
			</dict>

			<key>attack4.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,225},{69,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,78}}</string>
				<key>sourceSize</key>
				<string>{69,78}</string>
			</dict>

			<key>attack5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{71,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,64}}</string>
				<key>sourceSize</key>
				<string>{71,64}</string>
			</dict>

			<key>attack6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{74,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,58}}</string>
				<key>sourceSize</key>
				<string>{74,58}</string>
			</dict>

			<key>attack7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{75,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,82}}</string>
				<key>sourceSize</key>
				<string>{75,82}</string>
			</dict>

			<key>attack8.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,385},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,68}}</string>
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>

			<key>attack9.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,319},{70,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,65}}</string>
				<key>sourceSize</key>
				<string>{70,65}</string>
			</dict>

			<key>die1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,91},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,69}}</string>
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>

			<key>die10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{72,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,35}}</string>
				<key>sourceSize</key>
				<string>{72,35}</string>
			</dict>

			<key>die2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,441},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>die3.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,136},{69,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,88}}</string>
				<key>sourceSize</key>
				<string>{69,88}</string>
			</dict>

			<key>die4.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,52},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,71}}</string>
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>

			<key>die5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{79,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,51}}</string>
				<key>sourceSize</key>
				<string>{79,51}</string>
			</dict>

			<key>die6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,52},{77,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,83}}</string>
				<key>sourceSize</key>
				<string>{77,83}</string>
			</dict>

			<key>die7.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,69}}</string>
				<key>sourceSize</key>
				<string>{59,69}</string>
			</dict>

			<key>die8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{75,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,40}}</string>
				<key>sourceSize</key>
				<string>{75,40}</string>
			</dict>

			<key>die9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{70,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,56}}</string>
				<key>sourceSize</key>
				<string>{70,56}</string>
			</dict>

			<key>idle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,374},{53,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,89}}</string>
				<key>sourceSize</key>
				<string>{53,89}</string>
			</dict>

			<key>idle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,277},{50,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,87}}</string>
				<key>sourceSize</key>
				<string>{50,87}</string>
			</dict>

			<key>idle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,0},{52,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,90}}</string>
				<key>sourceSize</key>
				<string>{52,90}</string>
			</dict>

			<key>idle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,189},{56,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,88}}</string>
				<key>sourceSize</key>
				<string>{56,88}</string>
			</dict>

			<key>walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,70},{59,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,95}}</string>
				<key>sourceSize</key>
				<string>{59,95}</string>
			</dict>

			<key>walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,94}}</string>
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>

			<key>walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,255},{58,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,90}}</string>
				<key>sourceSize</key>
				<string>{58,90}</string>
			</dict>

			<key>walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,346},{57,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,94}}</string>
				<key>sourceSize</key>
				<string>{57,94}</string>
			</dict>

			<key>walk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,278},{56,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,95}}</string>
				<key>sourceSize</key>
				<string>{56,95}</string>
			</dict>

			<key>walk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,95},{57,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,95}}</string>
				<key>sourceSize</key>
				<string>{57,95}</string>
			</dict>

			<key>walk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,0},{55,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,90}}</string>
				<key>sourceSize</key>
				<string>{55,90}</string>
			</dict>

			<key>walk8.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,95},{57,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,93}}</string>
				<key>sourceSize</key>
				<string>{57,93}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>