<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>die1.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,160},{117,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,69}}</string>
				<key>sourceSize</key>
				<string>{117,69}</string>
			</dict>

			<key>die10.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,345},{117,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,44}}</string>
				<key>sourceSize</key>
				<string>{117,44}</string>
			</dict>

			<key>die2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,269},{117,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,75}}</string>
				<key>sourceSize</key>
				<string>{117,75}</string>
			</dict>

			<key>die3.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,189},{117,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,79}}</string>
				<key>sourceSize</key>
				<string>{117,79}</string>
			</dict>

			<key>die4.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,95},{117,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,93}}</string>
				<key>sourceSize</key>
				<string>{117,93}</string>
			</dict>

			<key>die5.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{117,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,94}}</string>
				<key>sourceSize</key>
				<string>{117,94}</string>
			</dict>

			<key>die6.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,402},{117,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,78}}</string>
				<key>sourceSize</key>
				<string>{117,78}</string>
			</dict>

			<key>die7.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,330},{117,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,71}}</string>
				<key>sourceSize</key>
				<string>{117,71}</string>
			</dict>

			<key>die8.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,285},{117,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,44}}</string>
				<key>sourceSize</key>
				<string>{117,44}</string>
			</dict>

			<key>die9.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,230},{117,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,54}}</string>
				<key>sourceSize</key>
				<string>{117,54}</string>
			</dict>

			<key>walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,81},{117,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,78}}</string>
				<key>sourceSize</key>
				<string>{117,78}</string>
			</dict>

			<key>walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,0},{117,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,80}}</string>
				<key>sourceSize</key>
				<string>{117,80}</string>
			</dict>

			<key>walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,409},{117,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,83}}</string>
				<key>sourceSize</key>
				<string>{117,83}</string>
			</dict>

			<key>walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{117,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,80}}</string>
				<key>sourceSize</key>
				<string>{117,80}</string>
			</dict>

			<key>walk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{117,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,79}}</string>
				<key>sourceSize</key>
				<string>{117,79}</string>
			</dict>

			<key>walk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{117,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,80}}</string>
				<key>sourceSize</key>
				<string>{117,80}</string>
			</dict>

			<key>walk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{117,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,84}}</string>
				<key>sourceSize</key>
				<string>{117,84}</string>
			</dict>

			<key>walk8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{117,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,81}}</string>
				<key>sourceSize</key>
				<string>{117,81}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>