<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,0},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,36}}</string>
				<key>sourceSize</key>
				<string>{31,36}</string>
			</dict>

			<key>Walk10.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,128},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,36}}</string>
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>

			<key>Walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,69},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,36}}</string>
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>

			<key>Walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,0},{41,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,33}}</string>
				<key>sourceSize</key>
				<string>{41,33}</string>
			</dict>

			<key>Walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,169},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,36}}</string>
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>

			<key>Walk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,34},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>Walk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,106},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,35}}</string>
				<key>sourceSize</key>
				<string>{38,35}</string>
			</dict>

			<key>Walk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,206},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>Walk8.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,165},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>Walk9.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,34},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,34}}</string>
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>

			<key>WalkUp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{42,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,32}}</string>
				<key>sourceSize</key>
				<string>{42,32}</string>
			</dict>

			<key>WalkUp10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>WalkUp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{42,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,35}}</string>
				<key>sourceSize</key>
				<string>{42,35}</string>
			</dict>

			<key>WalkUp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,133},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,36}}</string>
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>

			<key>WalkUp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{42,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,29}}</string>
				<key>sourceSize</key>
				<string>{42,29}</string>
			</dict>

			<key>WalkUp5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>WalkUp6.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,206},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,40}}</string>
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>

			<key>WalkUp7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>WalkUp8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>WalkUp9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,40}}</string>
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>

			<key>die1.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,142},{38,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,26}}</string>
				<key>sourceSize</key>
				<string>{38,26}</string>
			</dict>

			<key>die2.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,169},{34,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,20}}</string>
				<key>sourceSize</key>
				<string>{34,20}</string>
			</dict>

			<key>die3.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,106},{34,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,21}}</string>
				<key>sourceSize</key>
				<string>{34,21}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>